# -----------------------------------------------------------------------------------
# Copyright 2024, Gilles Zunino
# -----------------------------------------------------------------------------------

# Enable debugging (-Og)
CONFIG_COMPILER_OPTIMIZATION_DEBUG=y
CONFIG_OPTIMIZATION_LEVEL_DEBUG=y
CONFIG_COMPILER_OPTIMIZATION_LEVEL_DEBUG=y
CONFIG_COMPILER_OPTIMIZATION_DEFAULT=y
CONFIG_COMPILER_OPTIMIZATION_PERF=

# Enable all logs
CONFIG_HOLIDAYTREE_LEDS_LOG=y
CONFIG_HOLIDAYTREE_BT_GAP_LOG=y
CONFIG_HOLIDAYTREE_BT_A2DP_LOG=y
CONFIG_HOLIDAYTREE_BT_AVR_CT_LOG=y
CONFIG_HOLIDAYTREE_BT_AVR_TG_LOG=y
CONFIG_HOLIDAYTREE_I2S_OUTPUT_LOG=y
CONFIG_HOLIDAYTREE_DETAILED_I2S_DATA_PROCESSING_LOG=y