# -----------------------------------------------------------------------------------
# Copyright 2024, Gilles Zunino
# -----------------------------------------------------------------------------------

# Enable Speed Optimizations (-O2)
CONFIG_COMPILER_OPTIMIZATION_DEBUG=
CONFIG_OPTIMIZATION_LEVEL_DEBUG=
CONFIG_COMPILER_OPTIMIZATION_LEVEL_DEBUG=
CONFIG_COMPILER_OPTIMIZATION_DEFAULT=
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# Disable all logs
CONFIG_HOLIDAYTREE_LEDS_LOG=n
CONFIG_HOLIDAYTREE_BT_GAP_LOG=n
CONFIG_HOLIDAYTREE_BT_A2DP_LOG=n
CONFIG_HOLIDAYTREE_BT_AVR_CT_LOG=n
CONFIG_HOLIDAYTREE_BT_AVR_TG_LOG=n
CONFIG_HOLIDAYTREE_I2S_OUTPUT_LOG=n
CONFIG_HOLIDAYTREE_DETAILLED_I2S_DATA_PROCESSING_LOG=n

# Target production board (Smartbutton)
CONFIG_HOLIDAYTREE_HARDWARE_PRODUCTION=y
CONFIG_HOLIDAYTREE_HARDWARE_DEVELOPMENT=