# -----------------------------------------------------------------------------------
# Copyright 2024, Gilles Zunino
# -----------------------------------------------------------------------------------

# Target development board (devboard)
CONFIG_HOLIDAYTREE_HARDWARE_PRODUCTION=
CONFIG_HOLIDAYTREE_HARDWARE_DEVELOPMENT=y